<style>
	body{background: skyblue; font-family: verdana; color: white;}
	h1{text-align: center;}
	h2{text-align: center;}
	p, li{text-align: center;}
</style>
<body>
	<h1>Welcome to the profil of <%= person %></h1>
	<p><strong>Age: </strong><%= data.age %></p>
	<p><strong>Job: </strong><%= data.job %></p>
	<h2>Hobbies</h2>
	<ul>
		<% data.hobbies.forEach(function(item){ %>
			<li><%= item %></li>
		<% }); %>
	</ul>
</body>
